<app-banner></app-banner>

<div class="container">
  <!-- Page title jumbotron -->
  <div class="jumbotron">
    <h1><i class="fa fa-exchange-alt" style="color: #333333; "></i> Transactions</h1> 
    <p>List of all blockchain updates</p> 
  </div>

  <!-- Table -->
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"  matSortActive="transactionTimestamp" matSortDirection="desc" >
    <!-- <ng-container matColumnDef="participantInvoking">
      <mat-header-cell *matHeaderCellDef>Participant </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.participantInvoking">
          {{element.participantInvoking.substring(element.participantInvoking.lastIndexOf('.')+1)}}
        </ng-container>
      </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="transactionType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionType.substring(element.transactionType.lastIndexOf('.')+1)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionTimestamp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Timestamp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionTimestamp | date:'dd MMM yyyy, HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'" mat-sort-header>Details </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">
        <a [routerLink]="['/detail/' , element.transactionId ]">
          <mat-icon class="highlight">keyboard_arrow_right</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>