<app-banner></app-banner>

<div class="container">
  <!-- Page title jumbotron -->
  <div class="jumbotron">
    <h1><i class="fa fa-exchange-alt" style="color: #333333; "></i> Transactions</h1> 
    <p>List of all blockchain updates</p> 
  </div>

  <!-- Table -->
  <table class="table" *ngIf="blockchainRecords && blockchainRecords.length > 0">
      <tr>
          <th>Transaction type</th>
          <th>Timestamp</th>
          <th>Transaction ID</th>
          <th>Details</th>
      </tr>
      <tr *ngFor="let record of blockchainRecords">
        <td>{{record.transactionType.substring(record.transactionType.lastIndexOf('.')+1)}}</td>
        <td>{{record.transactionTimestamp | date:'dd MMM yyyy, HH:mm:ss'}}</td>
        <td>{{record.transactionId}}</td>
        <td>
          <a [routerLink]="['/detail/' , record.transactionId ]" class="pull-right">
            <i class="fas fa-arrow-right"></i>
          </a>
        </td>
    </tr>
  </table>
</div>